init.author.name=tyler evans
init.author.email=tyler@tylerevans.co
init.author.url=www.tylerevans.co
init.license=MIT
@octanner:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
