{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF

tap "jdx/tap"
tap "jesseduffield/lazygit"

brew "git"
brew "bitwarden-cli"
brew "asdf"
brew "bat"
brew "chezmoi"
brew "fzf"
brew "gawk"
brew "gh"
brew "unbound"
brew "gnutls"
brew "libassuan"
brew "libksba"
brew "pinentry"
brew "gnupg"
brew "go"
brew "httpie"
brew "jq"
brew "lazygit"
brew "maven"
brew "neovim"
brew "pipx"
brew "ripgrep"
brew "scc"
brew "stylua"
brew "tree"
brew "usage"
brew "zsh"
brew "spaceship"
cask "alfred"
cask "bitwarden"
cask "brave-browser"
cask "firefox"
cask "font-fira-code-nerd-font"
cask "hammerspoon"
cask "kitty"
cask "obsidian"

EOF
{{ end -}}
