[
  {
    "modifierFlags" : 1179648,
    "url" : "\/Clipboard.clipboard",
    "keyCode" : 49,
    "hideIfActive" : false,
    "enabled" : false,
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "order" : 0
  },
  {
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "keyCode" : 46,
    "enabled" : true,
    "url" : "\/System\/Applications\/Mail.app",
    "modifierFlags" : 1179648,
    "openSelectedFolders" : true,
    "order" : 1,
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAAKw1gNnpdxDlXXD2AyjlCJsVsxH8YZbsk7GmYd6\/7hPKYAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAADraAAA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBw46Q7wAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAACQAAAABAQAANDMwRjZCMjQtM0RGMi00MkRFLTk4QkMtRTI0OTI1QzQ5MEVEGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAAANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAAEyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA"
  },
  {
    "keyCode" : 49,
    "modifierFlags" : 1179914,
    "order" : 2,
    "openSelectedFolders" : true,
    "enabled" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Brave Browser.app",
    "hideIfActive" : false,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAABFIgvocZO7+fcNfqX13uaRcvMnp6XUwf9CmQwFXq2l2VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABCcmF2ZSBCcm93c2VyLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGdmAAAAAAAACAAAAAQDAAATyA0AAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHDsCrvgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQBl46AAAACAAAAAAEAABBw46Q7wAAACQAAAABAQAANDMwRjZCMjQtM0RGMi00MkRFLTk4QkMtRTI0OTI1QzQ5MEVEGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA"
  },
  {
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAIakgOBKUGWWw+tekSecJF+vmeyI13+xGz2ake1aLXsJTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABIb3RLZXkuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABnZgAAAAAAAAgAAAAEAwAAFxcOAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwrgSBQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADQzMEY2QjI0LTNERjItNDJERS05OEJDLUUyNDkyNUM0OTBFRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "order" : 3,
    "keyCode" : 39,
    "hideIfActive" : false,
    "url" : "\/Applications\/HotKey.app",
    "enabled" : true,
    "openSelectedFolders" : true,
    "modifierFlags" : 1179914
  },
  {
    "keyCode" : 32,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "modifierFlags" : 1179914,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAOr4ifi\/O22+Ss1oQ4HI2Hf9Hkn8HYpe0lge+n\/2VnZyTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABnZgAAAAAAAAgAAAAEAwAAfY8KAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw6zvw4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADQzMEY2QjI0LTNERjItNDJERS05OEJDLUUyNDkyNUM0OTBFRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "order" : 4,
    "enabled" : true,
    "url" : "\/Applications\/Slack.app"
  },
  {
    "openSelectedFiles" : true,
    "keyCode" : 36,
    "url" : "\/Applications\/kitty.app",
    "modifierFlags" : 1179922,
    "order" : 5,
    "openSelectedFolders" : true,
    "hideIfActive" : true,
    "enabled" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAI0rJjmrH5FZA1a5HDSL9WxHg64IyRxA2ahs4iOXy3iDTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABraXR0eS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABnZgAAAAAAAAgAAAAEAwAAmh8OAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw2XGuIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADQzMEY2QjI0LTNERjItNDJERS05OEJDLUUyNDkyNUM0OTBFRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "enabled" : true,
    "hideIfActive" : false,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAOWNjD2sU9JCpRyqAUk\/Gm6X1G49+rpM1Ak4Ee5IlkGqVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABBdXRoeSBEZXNrdG9wLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGdmAAAAAAAACAAAAAQDAADdMg4AAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHDj5wvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQBl46AAAACAAAAAAEAABBw46Q7wAAACQAAAABAQAANDMwRjZCMjQtM0RGMi00MkRFLTk4QkMtRTI0OTI1QzQ5MEVEGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "keyCode" : 0,
    "url" : "\/Applications\/Authy Desktop.app",
    "modifierFlags" : 1179914,
    "order" : 6
  },
  {
    "openSelectedFiles" : true,
    "enabled" : true,
    "order" : 7,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAAFn2ZktioI4GDw\/\/wDXWfqhdtEOtqX8RF8NWTZNTd5bPZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAA\/xwAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcOOkO8AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFAGXjoAAAAkAAAAAQEAADQzMEY2QjI0LTNERjItNDJERS05OEJDLUUyNDkyNUM0OTBFRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "url" : "\/System\/Applications\/Calendar.app",
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "keyCode" : 2,
    "modifierFlags" : 1179914
  },
  {
    "hideIfActive" : false,
    "bookmark" : "Ym9va2gCAAAAAAQQMAAAALCKH3egAeFCSsX2BI\/omuAFyVWcCni\/uLlImevsT58VZAEAAAQAAAADAwAAABgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHR5bGVyLmV2YW5zAAgAAAABBgAAEAAAACAAAAAIAAAABAMAAAlUAAAAAAAACAAAAAQDAAAFkQYAAAAAAAgAAAABBgAARAAAAFQAAAAIAAAAAAQAAEHDQHmwOIFHGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAAAAAAAAAAABAAAAAMDAADwYaQ2CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAERBQTdBRjI3LUQ5NkEtNEQ0QS1CNEMzLUNCNDkzNUQzMjQ2QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA\/v\/\/\/wEAAAAAAAAAEAAAAAQQAAA0AAAAAAAAAAUQAABkAAAAAAAAABAQAACEAAAAAAAAAEAQAAB0AAAAAAAAAAIgAABQAQAAAAAAAAUgAADAAAAAAAAAABAgAADQAAAAAAAAABEgAAAEAQAAAAAAABIgAADkAAAAAAAAABMgAAD0AAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAAAHAAACkAAAAAAAAABHAAAAgAAAAAAAAABLAAAC0AAAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 4,
    "modifierFlags" : 1179914,
    "openSelectedFolders" : true,
    "order" : 8,
    "url" : "\/Users\/tyler.evans",
    "openSelectedFiles" : true,
    "enabled" : true
  },
  {
    "openSelectedFolders" : true,
    "modifierFlags" : 1179914,
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAAOpeB6qrbQii5i1vnekuG2pgO+eDdEDnOCBsZoEcjHCNZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAAAY4AAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcHeRIAAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAkAAAAAQEAAERBQTdBRjI3LUQ5NkEtNEQ0QS1CNEMzLUNCNDkzNUQzMjQ2QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFiles" : true,
    "keyCode" : 16,
    "hideIfActive" : false,
    "order" : 9,
    "enabled" : true,
    "url" : "\/System\/Applications\/Messages.app"
  },
  {
    "openSelectedFiles" : true,
    "keyCode" : 43,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Insomnia.app",
    "modifierFlags" : 1179914,
    "order" : 10,
    "enabled" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAALhASn66pUMfC7YbDRF9csU304WDRMqe5dihAauKpmv8TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zDAAAAAEBAABJbnNvbW5pYS5hcHAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAABSgEAAAAAAAgAAAAEAwAA7YyhAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw5UuZwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAERBQTdBRjI3LUQ5NkEtNEQ0QS1CNEMzLUNCNDkzNUQzMjQ2QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false
  },
  {
    "keyCode" : 47,
    "order" : 11,
    "enabled" : true,
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "hideIfActive" : false,
    "modifierFlags" : 1179914,
    "url" : "\/Applications\/Visual Studio Code.app",
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAAMfVTPeoHQs2PAQq2sr9jXpC5Ayxi+9rlA7S5GdWWfnwWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAABSgEAAAAAAAgAAAAEAwAA4ZSwAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBw6FizgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAERBQTdBRjI3LUQ5NkEtNEQ0QS1CNEMzLUNCNDkzNUQzMjQ2QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "openSelectedFiles" : true,
    "url" : "\/Applications\/zoom.us.app",
    "order" : 12,
    "openSelectedFolders" : true,
    "keyCode" : 42,
    "hideIfActive" : false,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAEUl\/CUXDDJOybuV9cdJQZ+Fg5DOtUE2sfd0fDPAxYLZTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAAB6b29tLnVzLmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAABSgEAAAAAAAgAAAAEAwAA6+StAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw6e3EwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAAERBQTdBRjI3LUQ5NkEtNEQ0QS1CNEMzLUNCNDkzNUQzMjQ2QhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "enabled" : true,
    "modifierFlags" : 1179914
  }
]
