[
  {
    "order" : 0,
    "enabled" : false,
    "url" : "\/Clipboard.clipboard",
    "keyCode" : 49,
    "openSelectedFolders" : true,
    "modifierFlags" : 1179648,
    "hideIfActive" : false,
    "openSelectedFiles" : true
  },
  {
    "order" : 1,
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "keyCode" : 46,
    "enabled" : true,
    "url" : "\/System\/Applications\/Mail.app",
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAAKw1gNnpdxDlXXD2AyjlCJsVsxH8YZbsk7GmYd6\/7hPKYAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAADraAAA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBw46Q7wAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAACQAAAABAQAANDMwRjZCMjQtM0RGMi00MkRFLTk4QkMtRTI0OTI1QzQ5MEVEGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAAANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAAEyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "modifierFlags" : 1179648
  },
  {
    "hideIfActive" : false,
    "order" : 2,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "keyCode" : 34,
    "enabled" : true,
    "url" : "\/Applications\/Brave Browser.app",
    "modifierFlags" : 1179914,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAABFIgvocZO7+fcNfqX13uaRcvMnp6XUwf9CmQwFXq2l2VAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABCcmF2ZSBCcm93c2VyLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGdmAAAAAAAACAAAAAQDAAATyA0AAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHDsCrvgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQBl46AAAACAAAAAAEAABBw46Q7wAAACQAAAABAQAANDMwRjZCMjQtM0RGMi00MkRFLTk4QkMtRTI0OTI1QzQ5MEVEGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA"
  },
  {
    "keyCode" : 39,
    "order" : 3,
    "modifierFlags" : 1179914,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAIakgOBKUGWWw+tekSecJF+vmeyI13+xGz2ake1aLXsJTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABIb3RLZXkuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABnZgAAAAAAAAgAAAAEAwAAFxcOAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwrgSBQAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADQzMEY2QjI0LTNERjItNDJERS05OEJDLUUyNDkyNUM0OTBFRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "enabled" : true,
    "url" : "\/Applications\/HotKey.app",
    "hideIfActive" : false
  },
  {
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "order" : 4,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/Slack.app",
    "keyCode" : 32,
    "enabled" : true,
    "modifierFlags" : 1179914,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAOr4ifi\/O22+Ss1oQ4HI2Hf9Hkn8HYpe0lge+n\/2VnZyTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABnZgAAAAAAAAgAAAAEAwAAfY8KAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw6zvw4AAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADQzMEY2QjI0LTNERjItNDJERS05OEJDLUUyNDkyNUM0OTBFRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "enabled" : true,
    "order" : 5,
    "modifierFlags" : 1179914,
    "openSelectedFiles" : true,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAI0rJjmrH5FZA1a5HDSL9WxHg64IyRxA2ahs4iOXy3iDTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABraXR0eS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABnZgAAAAAAAAgAAAAEAwAAmh8OAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBw2XGuIAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADQzMEY2QjI0LTNERjItNDJERS05OEJDLUUyNDkyNUM0OTBFRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "keyCode" : 36,
    "hideIfActive" : true,
    "url" : "\/Applications\/kitty.app"
  },
  {
    "enabled" : true,
    "order" : 6,
    "openSelectedFolders" : true,
    "keyCode" : 4,
    "hideIfActive" : false,
    "modifierFlags" : 1179914,
    "url" : "\/Users\/tylerevans",
    "openSelectedFiles" : true,
    "bookmark" : "Ym9va2gCAAAAAAQQMAAAANOWcldE164k371zAporgQwE0kHcaW4021iiHfL4PWA5ZAEAAAQAAAADAwAAABgAKAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAHR5bGVyZXZhbnMAAAgAAAABBgAAEAAAACAAAAAIAAAABAMAAGNmAAAAAAAACAAAAAQDAAD7mwAAAAAAAAgAAAABBgAARAAAAFQAAAAIAAAAAAQAAEHDsnMQDS70GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAAAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUAZeOgAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADQzMEY2QjI0LTNERjItNDJERS05OEJDLUUyNDkyNUM0OTBFRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA\/v\/\/\/wEAAAAAAAAAEAAAAAQQAAA0AAAAAAAAAAUQAABkAAAAAAAAABAQAACEAAAAAAAAAEAQAAB0AAAAAAAAAAIgAABQAQAAAAAAAAUgAADAAAAAAAAAABAgAADQAAAAAAAAABEgAAAEAQAAAAAAABIgAADkAAAAAAAAABMgAAD0AAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAAAHAAACkAAAAAAAAABHAAAAgAAAAAAAAABLAAAC0AAAAAAAAABDQAAAEAAAAAAAAAA=="
  },
  {
    "modifierFlags" : 1179914,
    "url" : "\/Applications\/Authy Desktop.app",
    "order" : 7,
    "hideIfActive" : false,
    "keyCode" : 0,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAOWNjD2sU9JCpRyqAUk\/Gm6X1G49+rpM1Ak4Ee5IlkGqVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABBdXRoeSBEZXNrdG9wLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAGdmAAAAAAAACAAAAAQDAADdMg4AAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHDj5wvAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQBl46AAAACAAAAAAEAABBw46Q7wAAACQAAAABAQAANDMwRjZCMjQtM0RGMi00MkRFLTk4QkMtRTI0OTI1QzQ5MEVEGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFiles" : true,
    "openSelectedFolders" : true,
    "enabled" : true
  },
  {
    "url" : "\/System\/Applications\/Calendar.app",
    "bookmark" : "Ym9va0QCAAAAAAQQMAAAAFn2ZktioI4GDw\/\/wDXWfqhdtEOtqX8RF8NWTZNTd5bPZAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwwAAAABAQAAQ2FsZW5kYXIuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAA\/xwAAP\/\/\/w8MAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAAQcOOkO8AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFAGXjoAAAAkAAAAAQEAADQzMEY2QjI0LTNERjItNDJERS05OEJDLUUyNDkyNUM0OTBFRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABIAAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQAACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAAABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAAAAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABcAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "openSelectedFolders" : true,
    "keyCode" : 8,
    "openSelectedFiles" : true,
    "hideIfActive" : false,
    "modifierFlags" : 1179914,
    "enabled" : true,
    "order" : 8
  }
]